
body{
    margin: 0;
     font-family:Trebuchet MS;
}
header{
    background-color: #278508;
    padding: 10%;
    box-shadow: 0px 5px 20px 2px #022b0d;
}
nav{
     display:flex;
     justify-content:space-between;
}
nav a{
    color: white;
    text-decoration: 0;
    font-size:27px;
    padding: 1%;
    text-shadow: 2px 5px 5px #022b0d;
    transition: 0.2s;
    box-shadow: none;
}
nav a:hover{
     text-shadow: 2px 10px 10px #022b0d;
     transition: 0.3s;
     transform: scale(1.1);
     box-shadow: none;
}
.strilka{
    position: fixed;
    right: 3%;
    width: 40px;
    height: 40px;
    z-index: 1;
    bottom: 2%;
}
.strilka:hover{
    transition: 0.3s;
    transform: scale(1.2);
}
.button{
    background-color:#9FFF80;
    padding: 2%;
    color: black;
    border-radius: 10px;
    font-size:27px;
    position: relative;
    bottom:5px;
    text-shadow:2px 2px 5px #9FFF80;
    text-decoration: 0;
    transition: 0.3s;
}
.button:hover{
  transform: scale(1.2);
  transition: 0.5s;
  box-shadow:0px 0px 20px 10px #02631c;
  text-shadow:none;
}
p{
    margin: 3%;
    font-size: 20px;
}
main p{
    font-size:25px;
    background-image: linear-gradient(#00ff2a, #37fa57);
    padding: 10px;
    border-radius:20px;
    text-align: center;
}
h1{
    text-align: center;
    font-size:50px;
    margin:5%;
}
h3,h4{
 display: inline-block;
   justify-content:center;
     font-size:40px;
}
h5, h6{
    display: inline-block;
  justify-content: center;
   text-align: center;
     font-size:40px;  
}
h5,h7{
    display: inline-block;
     font-size:40px;  
}
h7{
   margin-left: 28%; 
}
.last img{
    width:30%;
}
.Kroton{
    margin-left:25px;
}
h6{
    margin-left:22%;
}
.Dracena{
    margin-left: 4%;
     width:45%;
}
h5{
    margin-left:33%;
}
.Ficus{
    margin-right: 1%;
    width:45%;
}
h3{
 position: relative;
 left:55%;
 margin-left:18%;
}
h8,h9{
      display: inline-block;
     font-size:40px;  
}
h8{
    margin-left: 20%;
}
h9{
    margin-left:27%;
}
article{
    display: flex;
    justify-content:space-evenly;
}
main img{
    width: 40%;
    transition: 0.2s;
}
.Lichi{
    width: 30%;
    height: 100%;
    position: relative;
    top:190px;
}
footer img {
    width: 50px;
    height: 50px;
    transition: 0.2s;
}
footer img:hover{
    transition: 0.3s;
    transform: scale(1.2);
    padding: 5px;
}
footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #278508;
    padding:2%;
    color: white;
     text-shadow: 2px 5px 5px #022b0d;
    transition: 0.2s;
}
footer p:hover{
     text-shadow: 2px 10px 10px #022b0d;
     transition: 0.3s;

}
